{% extends "layouts/base-fullscreen.html" %}

{% block title %} Test Form {% endblock %}

{% block content %}
<div class="">

      <h1>Experiment Form</h1>

      <form action ="{% url 'sarina' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.yourname }}
        </div>

        <div class="input-group mb-3">
            {{ form.message }}
        </div>
        <input type="submit" value="Submit">

    </form>

</div>

{% endblock content %}
